USE [master];
GO

CREATE DATABASE [ZEIT2017V4];
GO

USE [ZEIT2017V4];
GO
/****** Object:  Table [dbo].[EintrittAustritt]    Script Date: 23.05.2017 17:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EintrittAustritt](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FK_Mitarbeiter] [int] NOT NULL,
	[Personalnummer] [nvarchar](4) NULL,
	[EintrittsDatum] [datetime] NOT NULL,
	[AustrittsDatum] [datetime] NULL,
	[TagesSollZeit] [decimal](5, 2) NOT NULL,
	[IsAdmin] [bit] NULL,
 CONSTRAINT [PK_EintrittAustritt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO

USE [ZEIT2017V4];
GO

INSERT INTO dbo.EintrittAustritt (FK_Mitarbeiter,Personalnummer,EintrittsDatum,TagesSollZeit,IsAdmin) VALUES (1,'1031','1980-08-01',8.00,0);
INSERT INTO dbo.EintrittAustritt (FK_Mitarbeiter,Personalnummer,EintrittsDatum,TagesSollZeit,IsAdmin) VALUES (2,'1032','1990-07-01',8.00,0);
INSERT INTO dbo.EintrittAustritt (FK_Mitarbeiter,Personalnummer,EintrittsDatum,TagesSollZeit,IsAdmin) VALUES (3,'1033','1999-05-01',6.00,0);
GO

/****** Object:  Table [dbo].[Mitarbeiter]    Script Date: 23.05.2017 17:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mitarbeiter](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [nvarchar](20) NOT NULL,
	[Nachname] [nvarchar](30) NOT NULL,
	[Passwort] [varbinary](max) NULL,
 CONSTRAINT [PK_Mitarbeiter_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY];
GO

USE [ZEIT2017V4];
GO

INSERT INTO dbo.Mitarbeiter (Vorname,Nachname) VALUES ('Hans','Moser');
INSERT INTO dbo.Mitarbeiter (Vorname,Nachname) VALUES ('Franz','Valentin');
INSERT INTO dbo.Mitarbeiter (Vorname,Nachname) VALUES ('Silvia','Schlögl');
GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Stempelzeiten]    Script Date: 23.05.2017 17:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stempelzeiten](
	[FK_Mitarbeiter] [int] NOT NULL,
	[Zeitpunkt] [nchar](10) NOT NULL,
	[ZeitTyp] [tinyint] NULL,
 CONSTRAINT [PK_Stempelzeiten] PRIMARY KEY CLUSTERED 
(
	[FK_Mitarbeiter] ASC,
	[Zeitpunkt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO

/****** Object:  Table [dbo].[Zeittypen]    Script Date: 23.05.2017 17:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Zeittypen](
	[ID] [tinyint] NOT NULL,
	[Bezeichnung] [nvarchar](50) NULL,
	[Modus] [char](1) NULL,
	[Von] [tinyint] NULL,
	[Hauptsatz] [bit] NULL,
 CONSTRAINT [PK_Zeittypen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY];
GO

USE [ZEIT2017V4];
GO

INSERT INTO Zeittypen (ID,Bezeichnung,Modus,Von,Hauptsatz) VALUES (1,'ArbeitsBegin','A',2,1);
INSERT INTO Zeittypen (ID,Bezeichnung,Modus,Von,Hauptsatz) VALUES (2,'ArbeitsEnde','E',1,0);
INSERT INTO Zeittypen (ID,Bezeichnung,Modus,Von,Hauptsatz) VALUES (3,'PauseBegin','A',4,1);

SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[EintrittAustritt]  WITH CHECK ADD  CONSTRAINT [FK_EintrittAustritt_Mitarbeiter1] FOREIGN KEY([FK_Mitarbeiter])
REFERENCES [dbo].[Mitarbeiter] ([ID]);
GO

ALTER TABLE [dbo].[EintrittAustritt] CHECK CONSTRAINT [FK_EintrittAustritt_Mitarbeiter1];
GO

ALTER TABLE [dbo].[Stempelzeiten]  WITH CHECK ADD  CONSTRAINT [FK_Stempelzeiten_Mitarbeiter] FOREIGN KEY([FK_Mitarbeiter])
REFERENCES [dbo].[Mitarbeiter] ([ID]);
GO

ALTER TABLE [dbo].[Stempelzeiten] CHECK CONSTRAINT [FK_Stempelzeiten_Mitarbeiter];
GO

ALTER TABLE [dbo].[Stempelzeiten]  WITH CHECK ADD  CONSTRAINT [FK_Stempelzeiten_Zeittypen] FOREIGN KEY([ZeitTyp])
REFERENCES [dbo].[Zeittypen] ([ID]);
GO

ALTER TABLE [dbo].[Stempelzeiten] CHECK CONSTRAINT [FK_Stempelzeiten_Zeittypen];
GO

/****** Object:  StoredProcedure [dbo].[HashPasswort]    Script Date: 23.05.2017 17:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-------------------------------------------------------------
--Procedur Hasht das Passwort das übergeben wird
-------------------------------------------------------------
CREATE PROCEDURE [dbo].[HashPasswort]
	 @Text NVARCHAR(4000)
	,@ID INT  
AS
DECLARE @HashThis nvarchar(4000) = @Text
DECLARE @HashPw VARBINARY(max) = null
SET @HashPw = HASHBYTES('SHA2_512', @HashThis)
UPDATE dbo.Mitarbeiter
	SET dbo.Mitarbeiter.Passwort = @HashPw
WHERE dbo.Mitarbeiter.ID = @ID;
GO

/****** Object:  StoredProcedure [dbo].[PruefeHashPasswort]    Script Date: 23.05.2017 17:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------------------------------------------------------------
--Procedur sucht anhand der Personalnummer , der Mitarbeiter id und dem Passwort nach übereinstmmung
--liefert 1 bei erfolg und 0 bei mißerfolg
---------------------------------------------------------------------------------------------------- 
CREATE PROCEDURE [dbo].[PruefeHashPasswort]
	 @Text NVARCHAR(4000)
	,@ID INT
	,@Ergebnis INT OUT 
AS
DECLARE @HashThis nvarchar(4000) = null
SET @HashThis = @Text
DECLARE @HashPw VARBINARY(max) = null
DECLARE @tmp int = null
SET @HashPw = HASHBYTES('SHA2_512', @HashThis)
SET @tmp = (
			SELECT m.ID
			FROM dbo.Mitarbeiter AS m
			WHERE m.ID = @ID AND m.Passwort = @HashPw
			)
IF NOT @tmp IS NULL
BEGIN
	SET @Ergebnis = @tmp
END
ELSE
	SET @Ergebnis = 0

RETURN @Ergebnis;
GO

SELECT ea.Personalnummer
	  ,m.Vorname
	  ,m.Nachname
	  ,ea.EintrittsDatum
	  ,ea.AustrittsDatum
	  ,ea.TagesSollZeit
	  ,ea.IsAdmin 
FROM [ZEIT2017V4].dbo.Mitarbeiter AS m
	JOIN [ZEIT2017V4].dbo.EintrittAustritt AS ea
		ON m.ID = ea.FK_Mitarbeiter;
GO 

USE [master];
GO